*{
    box-sizing: border-box;
}
  
body {
  background-color: rgb(217, 244, 245);
}
  
h1{
  font-family: 'Pacifico', cursive;  
  font-size: 48px;
  align-content: center;
  padding: 0;
  text-align: center;
}

p{
  font-size: 24px;
  font-family: 'Merriweather Sans', sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.me{
  height: 464px;
  width: 336px;
}

#nameButton{
  transition: background-color 0.5s;
  display: inline-block;
  padding: 15px 46px 15px 46px;
  margin-left: -8px; 
  font-size: 24px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(196, 208, 214);
  border: none;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 0 9px #999;
  color: black;
}

#leftDrop:hover{
  background-color: rgb(199, 223, 207);
}

#leftDrop:active{
  transform: translateY(4px);
  box-shadow: 0 5px #666;
}

.dropbtn {
  background-color:  rgb(115, 189, 223);
  color: white;
  padding: 15px 25px 15px 25px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 15px 15px 15px 15px;
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-family: 'Merriweather Sans', sans-serif;
  box-shadow: 0 9px #999;
  text-align: center;
  margin-bottom: 15px;
}

.dropbtn:hover, .dropbtn:active{
  background-color: rgb(163, 170, 172);
  color: black;
}


.dropbtn:active{
  transform: translateY(4px);
  box-shadow: 0 5px #666;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#picDiv{
  text-align: center;
}

#buttonDiv{
  text-align: center;
}


#triplePic{
  height: 580px;
  width: 800px;
  position: relative;
}

.barButton{
  width: 50%;
  height: 20px;
  background-color:  rgb(82, 157, 192);
  border-radius: 15px 15px 15px 15px;
  border: none;
  margin: 15px 0px -30px 0px;
}

#barDiv{
  text-align: center;
}

#factsMasterDiv{
  display: none;
}

#facts{
  display: inline-block;
  margin-left: 25%;
  width: 25%;
  text-align: left;
  vertical-align: top;
}

#otherFacts{
  display: inline-block;
  width: 25%;
}

.factsBar{
  margin: 15px 15px;
  padding: 8px 5px;
  text-align: left;
  border-radius: 10px;
}

.factsHeader{
  margin: 15px 15px;
  padding: 8px 5px;
  
  
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}


.footerText{
  font-size: 14px; 
  text-align: left;
  margin-left: 5%;
  display: absolute;
}

.gitHubLabel{
  display: none;
  font-size: 12px;
}

.gitHubIcon{
  width: 72px;
  height: 72px;
  margin-left: 15px;
  display: inline;
}

#gitHubIcon:hover #gitHubLabel{
  display: block;
}

#linkedInLabel{
  display: none;
  font-size: 16px;
}

.showme{ 
  display: none;
}

.showhimLinkedin:hover .showme{
  display : inline;
  vertical-align: center;
}

.showhimGithub:hover .showme{
  display : inline;
  vertical-align: center;
}

div .button {
  padding: 3px;
  border: thin solid red; 
  width: 20%;
  margin: 4px;
  display: inline-block;
}

.holder {
  text-align: center;
  margin: auto;
}

.wrap {
  margin: auto;
}